*.iml
.gradle
.idea
kitchenrecipes.jks
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/src/main/assets/recipes.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
